
<div class="container mt-5" > 
    <ul class="pagination justify-content-center">

        <li class="page-item"><a class="page-link" href="javascript:goPage(0)">first</a></li>
        {%if commonPage.isPrev %}
            <li class="page-item"><a class="page-link" href="javascript:goPage({{commonPage.prev_page}})">Previous</a></li>
        {%endif%}

        {%for pg in commonPage.page_range %}
            {%if pg == commonPage.curPage%}
                <li class="page-item active"><a class="page-link" href="javascript:goPage({{pg}})">{{pg|add:1}}</a></li>
            {%else%}
            <li class="page-item"><a class="page-link" href="javascript:goPage({{pg}})">{{pg|add:1}}</a></li>
            {%endif%}
        {%endfor%}

        {%if commonPage.isNext %}
        <li class="page-item"><a class="page-link" href="javascript:goPage({{commonPage.next_page}})">Next</a></li>
        {%endif%}

        <li class="page-item"><a class="page-link" href="javascript:goPage({{commonPage.totalPage}})">last</a></li>
    
    </ul>
</div>